Magic 271485
Revision Verdi_O-2018.09-SP2

; Window Layout <x> <y> <width> <height> <signalwidth> <valuewidth>
viewPort 0 27 1368 329 127 65

; File list:
; openDirFile [-d delimiter] [-s time_offset] [-rf auto_bus_rule_file] path_name file_name
openDirFile -d / "" "/home/host/riscv_soc1/my_cpu_biu/test/ASFIFO/riscv.fsdb"

; file time scale:
; fileTimeScale ### s|ms|us|ns|ps

; signal spacing:
signalSpacing 5

; windowTimeUnit is used for zoom, cursor & marker
; waveform viewport range
zoom 52.868968 191.650008
cursor 124.000000
marker 0.000000

; user define markers
; userMarker time_pos marker_name color linestyle
; visible top row signal index
top 14
; marker line index
markerPos 22

; event list
; addEvent event_name event_expression
; curEvent event_name



COMPLEX_EVENT_BEGIN


COMPLEX_EVENT_END



; toolbar current search type
; curSTATUS search_type
curSTATUS ByChange


addGroup "G1"
activeDirFile "" "/home/host/riscv_soc1/my_cpu_biu/test/ASFIFO/riscv.fsdb"
addSignal -h 15 /ASFIFO_tb/U_asfifo/wr_clk
addSignal -h 15 -holdScope wr_rst_n
addSignal -h 15 /ASFIFO_tb/init_done
addSignal -h 15 -UNSIGNED -BIN /ASFIFO_tb/U_asfifo/wr_bin[4:0]
addSignal -h 15 -UNSIGNED -BIN -holdScope wr_gray[4:0]
addSignal -h 15 -UNSIGNED -BIN -holdScope rd_gray_1d[4:0]
addSignal -h 15 -UNSIGNED -BIN -holdScope rd_gray_2d[4:0]
addSignal -h 15 -UNSIGNED -BIN -holdScope wr_bin_rd[4:0]
addGroup "G2"
addSignal -h 15 /ASFIFO_tb/U_asfifo/rd_clk
addSignal -h 15 -holdScope rd_rst_n
addSignal -h 15 -holdScope rd_en
addSignal -h 15 -holdScope rd_empty
addSignal -h 15 -UNSIGNED -BIN -holdScope rd_bin[4:0]
addSignal -h 15 -UNSIGNED -BIN -holdScope rd_gray[4:0]
addSignal -h 15 -UNSIGNED -BIN -holdScope wr_gray_1d[4:0]
addSignal -h 15 -UNSIGNED -BIN -holdScope wr_gray_2d[4:0]
addSignal -h 15 -UNSIGNED -BIN -holdScope rd_bin_wr[4:0]
addSignal -h 15 -holdScope wr_full
addSignal -h 15 -holdScope rd_empty
addSignal -h 15 -holdScope wr_data[15:0]
addSignal -h 15 -holdScope rd_data[15:0]
addGroup "G3"

; getSignalForm Scope Hierarchy Status
; active file of getSignalForm

